<h6>Follow me</h6>

<ul class="social-media">


    {% if site.harmony.social.tumblr %}
    <li>
        <a title="{{ site.harmony.social.tumblr }} on Tumblr" 
            href="http://{{ site.harmony.social.tumblr }}.tumblr.com/" 
            class="tumblr wc-img-replace" target="_blank">Tumblr</a>
    </li>   
    {% endif %}

    {% if site.harmony.social.instagram %}
    <li>
        <a title="{{ site.harmony.social.instagram }} on Instagram" 
            href="http://instagram.com/{{ site.harmony.social.instagram }}" 
            class="instagram wc-img-replace" target="_blank">Instagram</a>
    </li>
    {% endif %}

    {% if site.harmony.social.facebook %}
    <li>
        <a title="{{ site.harmony.social.facebook }} on Facebook" 
            href="https://facebook.com/{{ site.harmony.social.facebook }}" 
            class="facebook wc-img-replace" target="_blank">Facebook</a>
    </li>
    {% endif %}

</ul>